.u-section-1 .u-sheet-1 {
  min-height: 1572px;
}

.u-section-1 .u-text-1 {
  margin: 20px 485px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1075px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  grid-gap: 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 170px;
  margin: 10px auto 0 15px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 255px;
  height: 170px;
  margin: 10px auto 0 15px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 170px;
  margin: 10px auto 0 15px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -10px auto 0 21px;
  padding: 10px 14px 10px 13px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -46px auto 0 383px;
  padding: 9px 63px 11px 62px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -46px 140px 0 auto;
  padding: 9px 74px 10px 72px;
}

.u-section-1 .u-image-4 {
  width: 257px;
  height: 181px;
  margin: 68px auto 0 20px;
}

.u-section-1 .u-image-5 {
  width: 261px;
  height: 181px;
  margin: -181px auto 0 384px;
}

.u-section-1 .u-image-6 {
  width: 257px;
  height: 181px;
  margin: -181px 140px 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 0 auto 0 20px;
  padding: 9px 18px 11px 17px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: -46px auto 0 384px;
  padding: 9px 104px 11px 103px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: -45px 140px 0 auto;
  padding: 10px 78px 10px 77px;
}

.u-section-1 .u-image-7 {
  width: 257px;
  height: 188px;
  margin: 66px auto 0 21px;
}

.u-section-1 .u-image-8 {
  width: 261px;
  height: 188px;
  margin: -187px auto 0 384px;
}

.u-section-1 .u-image-9 {
  width: 257px;
  height: 187px;
  margin: -187px 140px 0 auto;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  margin: -1px auto 0 20px;
  padding: 10px 105px 11px 104px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  margin: -45px auto 0 383px;
  padding: 9px 100px 11px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  margin: -46px 140px 0 auto;
  padding: 9px 86px 11px 84px;
}

.u-section-1 .u-image-10 {
  width: 257px;
  height: 187px;
  margin: 67px auto 0 20px;
}

.u-section-1 .u-image-11 {
  width: 261px;
  height: 193px;
  margin: -193px auto 0 383px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  margin: 0 auto 0 20px;
  padding: 9px 83px 10px 82px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  margin: -45px auto 0 383px;
  padding: 9px 52px 11px 50px;
}

.u-section-1 .u-image-12 {
  width: 266px;
  height: 193px;
  margin: -238px 140px 0 auto;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  margin: -1px 140px 60px auto;
  padding: 10px 86px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1571px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 285px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.33333px));
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: -178px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 5px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 184px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    margin-top: -188px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -188px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    height: 192px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 1px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 183px;
  }

  .u-section-1 .u-image-12 {
    height: 192px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 65px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 2.4999975px);
    grid-template-columns: repeat(2, calc(50% - 2.4999975px));
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-5 {
    margin-left: 279px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -36px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 279px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -174px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -15px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -32px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 279px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-5 {
    margin-left: 79px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 83px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 79px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 83px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 79px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 74px;
  }
}